<section class="faq">
    <div class="container">
      <h2>Frequently Asked Questions</h2>
      <div class="faq-item">
        <h3>How do I borrow books from the library?</h3>
        <p>To borrow books, you need to become a registered member of the library. Once registered, you can borrow books using your library card.</p>
      </div>
      <div class="faq-item">
        <h3>How many books can I borrow at once?</h3>
        <p>The number of books you can borrow at once is only one (1)</p>
      </div>
      <div class="faq-item">
        <h3>How do I return books?</h3>
        <p>You can return books by dropping them off at the library's return desk during opening hours. Alternatively, you can use the book drop-off box located outside the library for after-hours returns.</p>
      </div>
    </div>
  </section>
  